#section-contact.contact.mt-10.pb-6.pt-3
	.contact__bg
		//- iframe(frameborder="0", width="640", height="360", src="https://www.youtube.com/embed/BD_yqolkvHU?autoplay=1&controls=0&showinfo=0&autohide=1&mute=1", allow="autoplay")
	.contact__overlay
	.contact__body
		h2.contact__heading.text-3xl Visit Our Shop For Test Drive
		form.contact__form
			input(type="text", name="fname", placeholder="First Name")#fname
			input(type="text", name="lname", placeholder="Last Name")#lname
			input(type="email", name="email", placeholder="Email")#email
			textarea(name="message", placeholder="Message")#message
			input(type="submit" name="submit" value="Submit").button--lg
