.description.mt-10
	.description__header.description__header-1.fade-in
		h2.description__title.text-2xl Easy To Control Between <br> Start And Stop
		p.description__text Say goodbye to city buses, taxis and traffic jams. You’re no longer limited to the time and place.
	a(href="images/item1.jpg", data-lightbox="gallery")
		img(src="images/item1.jpg", alt="parts", data-delay=".3s").description__img.description__img-1.scale-up
		.description__img-overlay
	a(href="images/item2.jpg", data-lightbox="gallery")
		img(src="images/item2.jpg", alt="parts", data-delay=".5s").description__img.description__img-2.scale-up
		.description__img-overlay
	a(href="images/item3.jpg", data-lightbox="gallery")
		img(src="images/item3.jpg", alt="parts", data-delay="1s").description__img.description__img-3.scale-up
		.description__img-overlay
	.description__header.description__header-2.fade-in
		h2.description__title.text-2xl High-efficiency output, <br> strong and stable power.
		p.description__text With high performing parts and accessories, our scooters are designed beautifully and passionately so you can ensure that driving with it will be safe and secure along the road.
	a(href="images/item4.jpg", data-lightbox="gallery")
		img(src="images/item4.jpg", alt="parts", data-delay="1s").description__img.description__img-4.scale-up
		.description__img-overlay
	a(href="images/item5.jpg", data-lightbox="gallery")
		img(src="images/item5.jpg", alt="parts", data-delay="2s").description__img.description__img-5.scale-up
		.description__img-overlay
	a(href="images/item6.jpg", data-lightbox="gallery")
		img(src="images/item6.jpg", alt="parts", data-delay="3s").description__img.description__img-6.scale-up
		.description__img-overlay
