footer
	.quicklinks
		h5 Quicklinks
		ul
			li: a(href="#") Home
			li: a(href="#") Scooters
			li: a(href="#") Promos
			li: a(href="#") Services
		ul
			li: a(href="#") About Us
			li: a(href="#") Testimonials
			li: a(href="#") Gallery
			li: a(href="#") Contact Us
	.location
		.address
			h5 Visit Us
			p Unit 2H, Angeles Place, F. Angeles St. Pateros Manila
			ul
				li: a(href="#").social-icon.social-icon--facebook
				li: a(href="#").social-icon.social-icon--instagram
		.email
			h5 Reach Out
			ul
				li: a
					i.fas.fa-envelope
					| SkootPh@gmail.com
				li: a
					i.fas.fa-phone
					| Call us at +63 917 586 3986
	.copyright
		small © 2020 Skoot PH, All Rights Reserved.

a.to-top(href="#")
	i.fas.fa-chevron-up

.float-social
	a(href="#") facebook
	a(href="#") instagram

script(src="scripts/index.js")

