header
	img.logo(src="images/logo.png", alt="logo")
	nav
		ul.nav__links
			li: a(href="#") Home
			li: a(href="#section-featured-products") Scooters
			li: a(href="#") Promos
			li: a(href="#") Services
			li: a(href="#section-contact") Contact Us
	a.cta(href="#") Our Story
	a.menu(href="#") Menu
#mobile__menu.overlay
	span.close: i.fas.fa-times
	ul.overlay__content
		li: a(href="#") About Us
		li: a(href="#") Gallery
		li: a(href="#") Testimonials
.bg-overlay