// Reveal Animations
.fade-in {
	opacity: 0;
}

.fade-in.appear {
	animation: fade-in 500ms forwards ease-in;
}

.slide-down {
	opacity: 0;
}

.slide-down.appear {
	animation: slide-down 1000ms forwards ease-out;
}

.scale-up {
	opacity: 0;
}

.scale-up.appear {
	animation: scale-up 800ms forwards ease-out;
}

.slide-x {
	opacity: 0;
}

.slide-x.appear {
	animation: from-left 1000ms forwards ease-out;

	@include mq(md) {
		animation: from-right 800ms forwards ease-out;
	}
}

// Keyframes

@include keyframes(fade-in) {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@include keyframes(slide-down) {
	0% {
		opacity: 0;
		transform: translateY(-70%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@include keyframes(scale-up) {
	0% {
		opacity: 0;
		transform: scale(50%);
	}

	100% {
		opacity: 1;
		transform: scale(100%);
	}
}

@include keyframes(from-right) {
	0% {
		opacity: 0;
		transform: translateX(100vw);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@include keyframes(from-left) {
	0% {
		opacity: 0;
		transform: translateX(-70%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
