html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *::before, *::after {
   box-sizing: inherit;
}

body {
	background-color: var(--white);
	line-height: 1.6;
	overflow-x: hidden;
	position: relative;
}

p, ul, ol {
	margin: 0 0 1.65em 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

p, li {
	line-height: 1.6;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}

a {
	color: var(--black);
	text-decoration: none;
   outline: 0;

   &:hover,
   &:focus {
      color: var(--red);
   }
}

// Forms
input[type="text"],
input[type="email"],
textarea {
	border: 1.9px solid #cccccc;
	border-radius: 2px;
	padding: 11px;
}

textarea {
	max-width: 100%;
}





