html {
	// @include fluid-type(font-size, 320px, 1366px, 16px, 18px);
	font-size: 16px;

	@include mq(lg) {
		font-size: 18px;
	}
}

body {
	font-family: var(--font-sans);
	font-weight: 400;
	line-height: 1.6;
   color: var(--black);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	// font-size: 1rem;
}

.h1, .h2, .h3, .h4, .h5,
h1, h2, h3, h4, h5 {
   font-weight: bold;
}

// Headings
.gigantic {
	@include font-size(46px);

	@include mq(sm) {
		@include font-size(100px, 1.09, -1px);
	}
}

h1,
.h1 {
	@include font-size(26px);

	@include mq(sm) {
		@include font-size(68px, 1.05, -1px);
	}
}

h2,
.h2 {
	@include font-size(20px, 24px, 0.36px);

	@include mq(sm) {
		@include font-size(42px, 1.14);
	}
}

h3,
.h3 {
	@include font-size(18px, 22px, 0.3px);

	@include mq(sm) {
		@include font-size(26px, 1.38);
	}
}

h4,
.h4 {
	@include font-size(15px, 20px);

	@include mq(sm) {
		@include font-size(22px, 1.38);
	}
}

h5,
.h5 {
	@include font-size(15px);

	@include mq(md) {
		@include font-size(18px, 1.35);
	}
}

small,
.small {
	@include font-size(14px, 1.2);
}

// alignments
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

// Modifiers
.text-bold {
	font-weight: 700;
}

.text-semibold {
	font-weight: 600;
}

.text-uppercase {
	text-transform: uppercase;
}

.no-line-height {
	line-height: 1em !important;
}


@each $property, $value in $rems {
	.text-#{$property} {
		font-size: $value;
		line-height: calc(#{$value} * 1.25);

		// @include mq(md) {
		// 	font-size: calc(#{$value} * 1.04);
		// }

		// @include mq(lg) {
		// 	font-size: calc(#{$value} * 1.25);
		// }
	}
}