.contact {
	color: var(--white);
	padding: 30px 0 60px 0;
	position: relative;

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		margin: 0 auto;
		text-align: center;

		iframe {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			width: 1302px;
			height: 732.375px;
			max-width: 100%;
			// max-height: 100%;
			pointer-events: none;
		}
	}

	&__overlay {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		background: #0a0908;
		opacity: 0.76;
	}

	&__body {
		position: relative;
		z-index: 2;
		margin: 0 auto;
		width: 100%;
		max-width: 82%;

		@include mq(xs) {
			max-width: 91%;
		}

		@include mq(md) {
			max-width: 80%;
		}

		@include mq(lg) {
			max-width: 87%;
		}
	}

	&__heading {
		text-align: center;
	}

	.text-3xl {
		font-size: 1.8rem;

		@include mq(md) {
			font-size: 1.92rem;
		}
	}

	&__form {
		max-width: 1000px;
		margin: 0 auto;
		text-align: center;
	   margin-bottom: 2px;
	   @include clearfix;

		input[type="text"],
		input[type="email"],
		input[type="button"],
		textarea {
			@include grid(3, 10px);
			font-size: .8rem;
		}

		textarea {
			height: 100px;
			width: 100%;
		}

		input[type="submit"] {
			margin: 0 auto;
		}
	}
}