.featured-products-cards {
	display: grid;
	max-width: 90%;
	margin: 0 auto;

	&__header {
		text-align: center;
		grid-column: 1 / -1;
	}

	&__title {
		text-transform: uppercase;
		letter-spacing: .025em;
		margin-bottom: 5px;

		@include mq(md) {
			font-size: 2.2em;
		}
	}

	.product-card {
		text-align: center;

		&__links {
			text-align: left;
			list-style: none;

			li {
				border-bottom: 1px solid var(--grey-500);
				vertical-align: top;
				display: grid;
				grid-template-columns: 25px 1fr;
				align-items: start;
				padding-bottom: 3px;
			}

			a {
				text-transform: uppercase;
				font-weight: bold;
				font-size: calc(var(--size-sm) * 1.06);
				@include mq(lg) {
					font-size: calc(var(--size-sm) * 1.16);
				}
			}

			i.fas {
				padding-right: 8px;
				font-size: calc(var(--size-xs) * 1.06);
				color: var(--red);
			}
		}
	}
}

@include mq(md) {
	.featured-products-cards {
		display: grid;
		grid-gap: 2em;
		grid-template-columns: repeat(3, minmax(200px, 1fr));
		max-width: 100%;

		.product-card {

			&__links {
				text-align: left;

				li {
					display: block;
				}
			}
		}
	}
}