.to-gallery {
	display: grid;
	justify-content: center;

	&__body {
		text-transform: uppercase;
		position: relative;
		display: grid;
		justify-content: center;
		max-width: 340px;
	}

	&__title1 {
		position: absolute;
		transform: rotate(-90deg);
		transform-origin: 0 0;
		-webkit-text-stroke: 1px var(--red);
		color: var(--white);
		top: 137px;
		left: 0;
		font-size: 2.2rem;
		@include mq(sm) {
			top: 273px;
			left: -78px;
			font-size: 73px;
			-webkit-text-stroke: 2px var(--red);
		}
	}

	&__title2 {
		position: absolute;
		transform: rotate(90deg);
		transform-origin: bottom right;
		bottom: -30px;
		right: 50px;
		@include mq(sm) {
			bottom: -60px;
			right: 3px;
		}
	}

	&__img {
		justify-self: center;
		max-width: 75%;
		@include mq(sm) {
			max-width: 100%;
		}
	}

}