extends layouts/app
block content
	include includes/hero
	.container
		include includes/featured-products-cards
	.container
		include includes/description
	.container
		include includes/to-gallery
	include includes/contact

