<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title SkootPh
	body
		include ../includes/header
		//- include ../includes/nav
		block content
		.container
			include ../includes/footer


